<div class="mb-3">
    <label for="simpleinput" class="form-label">{{ labelText|default:'' }}</label>
    <input type="text" id="{{ name }}_id" name="{{ name }}" value="{{ value }}" class="form-control">
</div>
