<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{ task.title }}</h4>
        <p>{{ task.text }}</p>
        <div>
            <textarea name="code" id="code_editor" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <input type="submit" value="Отправить на проверку" class="btn btn-primary mt-2">
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        let codeEditor = document.getElementById("code_editor")
        codeEditor = new CodeFlask(codeEditor, {language: 'js'})
    });
</script>

