<h1>Здравствуйте! Спасибо за регистрацию на нашем сервисе.</h1>

<p>
    Пожалеуйста, подтвердите подлинность почтового ящика, чтобы продолжить работу с сервисом: <br><br>
    <a href="{{ signedUrl|raw }}">Подтвердить почту</a>.
    Срок действия этой ссылки истекает через {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Успехов в обучении!
</p>
