{% extends 'layout/base.html.twig' %}
{% block header %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block page_title %}{% endblock %}

{% block content %}
    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-4">
                    <div class="card">

                        <div class="card-body p-4">
                            <div class="text-center mb-4">
                                <h4 class="text-uppercase mt-0 mb-3">Восстановить пароль</h4>
                                <p class="text-muted mb-0 font-13">Введите почтовый ящик, чтобы восстановить пароль</p>
                            </div>
                            {{ form_start(form) }}
                            {{ form_row(form.email) }}
                            <div class="mb-3 text-center d-grid">
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p class="text-muted">Назад к <a href="pages-login.html" class="text-dark ms-1"><b>странице входа</b></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
