<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{ task.title }}</h4>
        <p>{{ task.text }}</p>
        <input type="submit" value="Отправить на проверку" class="btn btn-primary mt-2">
    </div>
</div>
