{% extends 'layout/base.html.twig' %}

{% block page_title %} {{ new.title }} {% endblock %}

{% block content %}
    <div class="row">
        <a href="{{ path('news_list') }}" data-news-list-back-button class="btn btn-secondary mb-2">Назад к списку</a>
        <div class="card">
            <div class="card-body">
                <h4 data-news-title class="card-title">{{ new.title }}</h4>
                <p class="card-text">{{ new.text }}</p>
            </div>
        </div>
    </div>
{% endblock %}
