{% extends 'layout/base.html.twig' %}

{% block page_title %} {{ new.title }} {% endblock %}

{% block content %}
    <div class="row">
        <a href="{{ path('courses_list') }}" class="btn btn-secondary mb-2">Назад к списку</a>
        <div class="card">
            <div class="card-body">
                <p class="card-title">{{ new.title }}</p>
                <p class="card-text">{{ new.text }}</p>
            </div>
        </div>
    </div>
{% endblock %}
