{% extends 'layout/base.html.twig' %}

{% block page_title %} Уведомления {% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                В данный момент у вас нет уведомлений
            </div>
        </div>
    </div>
{% endblock %}
