{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <div class="col-xl-9 col-lg-8">
        <div class="conversation-list-card card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        <h5 class="mt-0 mb-1 text-truncate">{{ user.fullname }}</h5>
                        <p class="font-13 text-muted mb-0"><i class="mdi mdi-circle text-success me-1 font-11"></i> Active</p>
                    </div>
                </div>
                <hr class="my-3">

                <div>
                    <ul class="conversation-list slimscroll" style="max-height: 410px;" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">
                    </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 606px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 277px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></ul>
                </div>
            </div>
            <div class="p-3 conversation-input border-top">
                <div class="row">
                    <div class="col">
                        <div>
                            <input type="text" class="form-control" placeholder="Enter Message...">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary chat-send width-md waves-effect waves-light"><span class="d-none d-sm-inline-block me-2">Send</span> <i class="mdi mdi-send"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
