{% extends 'layout/base.html.twig' %}

{% block page_title %} Список курсов {% endblock %}

{% block content %}
    <div class="row">
        {% if courses|length > 0 %}
        {% for course in courses %}
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body project-box">
                        <div class="badge bg-success float-end">{{ course.category.title }}</div>
                        <h4 class="mt-0"><a href="" class="text-dark">{{ course.title }}</a></h4>
                        <p class="text-success text-uppercase font-13">Web Design</p>
                        <p class="text-muted font-13">If several languages coalesce the grammar is more simple and regular than that of the individual languages...<a href="#" class="text-primary">View more</a>
                        </p>

                        <ul class="list-inline">
                            <li class="list-inline-item me-4">
                                <h4 class="mb-0">56</h4>
                                <p class="text-muted">Questions</p>
                            </li>
                            <li class="list-inline-item">
                                <h4 class="mb-0">452</h4>
                                <p class="text-muted">Comments</p>
                            </li>
                        </ul>

                        <div>
                            <a href="{{ path('course_details', {id: course.id}) }}" class="btn btn-primary">Посмотреть курс</a>
                        </div>

                    </div>
                </div>

            </div><!-- end col-->
        {% endfor %}
        {% else %}
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                            Курсы пока что не опубликованы
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
