{% extends 'layout/base.html.twig' %}

{% block page_title %} {{ article.title }} {% endblock %}

{% block content %}
    <div class="row">
        <a href="{{ path('blog_list') }}" data-blog-back-button class="btn btn-secondary my-2">Назад к списку статей</a>
        <div class="card p-2">
            <div>
                <h4 data-article-title class="card-title">{{ article.title }}</h4>
            </div>
            <div class="card-text">
                {{ article.text }}
            </div>
        </div>
    </div>
{% endblock %}
