<div class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-pt-50 g-pb-25">
    <div class="container">
        <div class="row">
            <!-- Start Content Column #01 -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-mb-25 g-mb-0--lg">
                <a class="d-block g-mb-25" href="index.html">
                    <img src="{{ asset('asets/img/logo/logo-2.png') }}" class="img-fluid" alt="Gravity">
                </a>
                <p>Gravity is an incredibly beautiful and fully responsive Bootstrap Template for any type of professionals.</p>
                <p class="g-mb-0">These professionally designed demos below are built to give you a boosted start for your project. Build Your websites like a lego.</p>
            </div>
            <!-- End Content Column #01 -->
            <!-- Start Content Column #02 -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-mb-25 g-mb-0--lg">
                <div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
                    <h2 class="u-heading-v3__title h6 text-uppercase g-brd-white">Latest Posts</h2>
                </div>
                <article>
                    <h3 class="h6 g-mb-8">
                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="elements.html">1000+ Unique Elements</a>
                    </h3>
                    <div class="small g-color-white-opacity-0_6">Mar 25, 2021</div>
                </article>
                <hr class="g-brd-white-opacity-0_1 g-my-10">
                <article>
                    <h3 class="h6 g-mb-8">
                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="features.html">500+ Reusable Features</a>
                    </h3>
                    <div class="small g-color-white-opacity-0_6">Feb 15, 2021</div>
                </article>
                <hr class="g-brd-white-opacity-0_1 g-my-10">
                <article>
                    <h3 class="h6 g-mb-8">
                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="home.html">Home &amp; Landing Layouts</a>
                    </h3>
                    <div class="small g-color-white-opacity-0_6">Jan 05, 2021</div>
                </article>
            </div>
            <!-- End Content Column #02 -->
            <!-- Start Content Column #03 -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-mb-25 g-mb-0--lg">
                <div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
                    <h2 class="u-heading-v3__title h6 text-uppercase g-brd-white">Useful Links</h2>
                </div>
                <nav class="text-uppercase1">
                    <ul class="list-unstyled g-mt-minus-10 mb-0">
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="pages.html">Modern Pages</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="portfolio.html">Our Portfolio</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="blog.html">Blog &amp; News</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="shop.html">eCommerce Pages</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="admin-dashboard.html">Admin Dashboard</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- End Footer Content -->
            <!-- Start Content Column #04 -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-mb-25 g-mb-0--lg">
                <div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
                    <h2 class="u-heading-v3__title h6 text-uppercase g-brd-white">Our Contacts</h2>
                </div>
                <address class="g-footer-map-bg g-bg-no-repeat g-font-size-12 mb-0">
                    <!-- Start Location -->
                    <div class="d-flex g-mb-25">
                        <div class="g-mr-10">
                              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                <i class="fa fa-map-marker"></i>
                              </span>
                        </div>
                        <p class="mb-0">123 Lincoln Ave, Suite 555,<br>San Francisco, CA 98765</p>
                    </div>
                    <!-- End Location -->
                    <!-- Start Phone -->
                    <div class="d-flex g-mb-25">
                        <div class="g-mr-10">
                              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                <i class="fa fa-phone"></i>
                              </span>
                        </div>
                        <p class="mb-0">+1 555 555 5555<br>+1 777 777 7777</p>
                    </div>
                    <!-- End Phone -->
                    <!-- Start E-Mail and Website -->
                    <div class="d-flex g-mb-0">
                        <div class="g-mr-10">
                              <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                <i class="fa fa-globe"></i>
                              </span>
                        </div>
                        <p class="mb-0">
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:info@yoursite.com">info@yoursite.com</a>
                            <br>
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">www.yoursite.com</a>
                        </p>
                    </div>
                    <!-- End E-Mail and Website -->
                </address>
            </div>
            <!-- End Content Column #04 -->
        </div>
    </div>
</div>
<!-- End Footer -->
<!-- Start Footer Copyright -->
<footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center text-md-left g-mb-15 g-mb-0--md">
                <div class="d-lg-flex">
                    <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">© 2021 - All Rights Reserved</small>
                </div>
            </div>
            <div class="col-md-4 align-self-center">
                <ul class="list-inline text-center text-md-right mb-0">
                    <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
                        <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
                        <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Linkedin">
                        <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
