<head>
    <!-- Title -->
    <title>Gravity - Multi-Purpose HTML Template</title>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="author" content="G-Projects">
    <meta name="keywords" content="Gravity - Multi-Purpose HTML Template">
    <meta name="description" content="Gravity - Multi-Purpose HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('asets/img/favicon.ico') }}">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ asset('asets/css/plugins.css') }}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ asset('asets/css/style.css') }}">
</head>
