<head>
    <title>Gravity - Multi-Purpose HTML Template</title>
    <meta charset="utf-8">
    <meta name="author" content="G-Projects">
    <meta name="keywords" content="Gravity - Multi-Purpose HTML Template">
    <meta name="description" content="Gravity - Multi-Purpose HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <link rel="stylesheet" href="{{ asset('assets/css/plugins.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
</head>
