<div class="u-basket d-inline-block g-valign-middle g-pt-2">
    <a href="{{ path('notifications') }}" id="basket-bar-invoker" class="u-icon-v1 g-color-main g-text-underline--none--hover g-width-20 g-height-20 g-mr-20" aria-controls="basket-bar" aria-haspopup="true" aria-expanded="false" data-dropdown-event="hover" data-dropdown-target="#basket-bar" data-dropdown-type="css-animation" data-dropdown-duration="500" data-dropdown-hide-on-scroll="false" data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
        <span class="u-badge-v1--sm g-color-black g-bg-white g-rounded-50x">0</span>
        <i class="fa fa-envelope g-color-white"></i>
    </a>
</div>
