{% for element in mainMenu %}
<li>
    <a href="index.html">
        {% if element.number != null %}
            <span class="badge bg-success rounded-pill float-end">{{ element.number }}</span>
        {% endif %}
        <span><a href="{{ element.route }}">{{ element.title }}</a></span>
    </a>
</li>
{% endfor %}
