{% for element in mainMenu %}
    <li class="nav-item dropdown">
        <a class="nav-link arrow-none" href="{{ element.route }}" id="topnav-dashboard" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="mdi mdi-view-dashboard me-1"></i> {{ element.title }}
        </a>

    </li>
{% endfor %}
