{% if course.courseTags %}
    <div class="mt-2">
        {% for tag in course.courseTags %}
            <h4><span class="badge bg-success rounded-pill float-start mx-1 p-1">{{ tag.title }}</span></h4>
        {% endfor %}
    </div>
{% endif %}
