<div class="col-lg-10 offset-1">
    <form method="post" action="{{ path('search') }}" class="g-brd-around g-brd-gray-light-v4 g-pa-30">
        <div class="input-group u-file-attach-v1 g-brd-gray-light-v2">
            <input class="form-control form-control-md rounded-0" type="text" name="search" placeholder="Введите запрос" required>
            <div class="input-group-append">
                <button class="btn btn-md u-btn-primary rounded-0" type="submit">Поиск</button>
            </div>
        </div>
    </form>
</div>
