{% extends 'layout/base.html.twig' %}

{% block page_title %} Уведомления {% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            В данный момент у вас нет уведомлений
        </div>
    </div>
{% endblock %}
