<!DOCTYPE html><html lang="en">
{% include "common/head.html.twig" %}
<body>
    <main>
        {% include "common/topbar.html.twig" %}

        {% include "common/sidebar.html.twig" %}
        <div class="container mt-2">
            <twig:BreadCrumbs />
            {% include 'common/flash.html.twig' %}
        </div>
        {% block content %}
        {% endblock %}
        <hr class="g-mx-0 g-my-0">
        {% include "common/footer.html.twig" %}

        <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position="{" bottom":="" 15,="" "right":="" 15}"="" data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
            <i class="hs-icon hs-icon-arrow-top"></i>
        </a>
    </main>

{% include "common/scripts.html.twig" %}

</body>
</html>
