<!DOCTYPE html><html lang="en">
{% include "common/head.html.twig" %}
<body>
    <main>
        <!-- Start Page Preloader -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_four"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_one"></div>
                </div>
            </div>
        </div>
        {% include "common/topbar.html.twig" %}

        {% include "common/sidebar.html.twig" %}
        {% block content %}
        {% endblock %}
        <hr class="g-mx-0 g-my-0">
        {% include "common/footer.html.twig" %}

        <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position="{" bottom":="" 15,="" "right":="" 15}"="" data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
            <i class="hs-icon hs-icon-arrow-top"></i>
        </a>
    </main>

{% include "common/scripts.html.twig" %}

</body>
</html>
