
<!DOCTYPE html>
<html lang="en">

{% include "common/head.html.twig" %}

<body class="loading" data-layout-mode="horizontal" data-layout-color="light" data-layout-size="fluid" data-topbar-color="dark" data-leftbar-position="fixed">

<!-- Begin page -->
<div id="wrapper">

    {% include "common/topbar.html.twig" %}
    {% include "common/sidebar.html.twig" %}


    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Adminto</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Layouts</a></li>
                                    <li class="breadcrumb-item active">Horizontal Layout</li>
                                </ol>
                            </div>
                            <h4 class="page-title">{% block page_title %}Главная страница{% endblock %}</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                {% block content %}

                {% endblock %}

            </div> <!-- container -->

        </div> <!-- content -->

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <script>document.write(new Date().getFullYear())</script> &copy; Adminto theme by <a href="">Coderthemes</a>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end footer-links d-none d-sm-block">
                            <a href="javascript:void(0);">About Us</a>
                            <a href="javascript:void(0);">Help</a>
                            <a href="javascript:void(0);">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>



</div>
{% include 'common/scripts.html.twig' %}

</body>
</html>
